body{
    background: url(https://docentes.ufps.edu.co/assets/img/bg/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.error{
    color:red;
}

p{
    font-size:30px;
    font-family: "Montserrat", cursive;
}
label{

    font-size:15px;
}

.wordWrap{
    word-wrap: break-word;
}

.shooterResult{
    width: 100px;
    text-align: right;
}

.shooterSelect{
    width: 100%;
}

.colID{
    width: 50px;
}

.colSelect{
    width: 110px;
    text-align: center;
}

.logoffSection{
    padding-top: 15px;
}
.colResult{
    width: 60px;
}

.userInfoLine{
    padding-bottom: 10px;
}

.infoTable{
    padding:5px;
}

.infoTable > div:nth-of-type(odd){
    background-color: rgba(0,0,0,.05);
}